.header{
    display:flex;
    justify-content:space-between;
background-color: white;
}


h1{
    color:#080822;
}

.menu1{
    text-justify:center ;
    background-color:white;
    height:20px
    }

.Projects{
    background-color:white;
     display:flex;
     justify-content: space-evenly;
     flex-direction: row;
      
    
}


body{
    background-color:aqua;
}

